<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
  <!--#include file="/dist/components/meta.html" -->
  <title>easy-boilerplate</title>
  <!--#include file="/dist/components/style-common.html" -->
</head>
<body>
<!--#include file="/dist/components/header.html" -->

<div class="site-content">
  <div class="mwrap">

    <div id="readme" class="readme blob instapaper_body">
      <article class="markdown-body entry-content" itemprop="text"><h1><a id="user-content-easy-boilerplate" class="anchor" href="#easy-boilerplate" aria-hidden="true"><svg aria-hidden="true" class="octicon octicon-link" height="16" role="img" version="1.1" viewBox="0 0 16 16" width="16"><path d="M4 9h1v1h-1c-1.5 0-3-1.69-3-3.5s1.55-3.5 3-3.5h4c1.45 0 3 1.69 3 3.5 0 1.41-0.91 2.72-2 3.25v-1.16c0.58-0.45 1-1.27 1-2.09 0-1.28-1.02-2.5-2-2.5H4c-0.98 0-2 1.22-2 2.5s1 2.5 2 2.5z m9-3h-1v1h1c1 0 2 1.22 2 2.5s-1.02 2.5-2 2.5H9c-0.98 0-2-1.22-2-2.5 0-0.83 0.42-1.64 1-2.09v-1.16c-1.09 0.53-2 1.84-2 3.25 0 1.81 1.55 3.5 3 3.5h4c1.45 0 3-1.69 3-3.5s-1.5-3.5-3-3.5z"></path></svg></a>easy-boilerplate</h1>

        <p>前端项目基本初始环境模板，用于即时项目开发，可自动化编译生成发布（基于SSINC浏览）  </p>

        <blockquote>
          <p>Author: Serifx Xiao &lt;<a href="mailto:Serifx@outlook.com">Serifx@outlook.com</a>&gt;<br>
            CreateDate: 2015/12/11<br>
            Update: 2016/3/25<br>
            Version: 1.0.0  </p>

          <p>Licensed under the MIT license  </p>
        </blockquote>

        <h2><a id="user-content-项目发布及浏览说明" class="anchor" href="#项目发布及浏览说明" aria-hidden="true"><svg aria-hidden="true" class="octicon octicon-link" height="16" role="img" version="1.1" viewBox="0 0 16 16" width="16"><path d="M4 9h1v1h-1c-1.5 0-3-1.69-3-3.5s1.55-3.5 3-3.5h4c1.45 0 3 1.69 3 3.5 0 1.41-0.91 2.72-2 3.25v-1.16c0.58-0.45 1-1.27 1-2.09 0-1.28-1.02-2.5-2-2.5H4c-0.98 0-2 1.22-2 2.5s1 2.5 2 2.5z m9-3h-1v1h1c1 0 2 1.22 2 2.5s-1.02 2.5-2 2.5H9c-0.98 0-2-1.22-2-2.5 0-0.83 0.42-1.64 1-2.09v-1.16c-1.09 0.53-2 1.84-2 3.25 0 1.81 1.55 3.5 3 3.5h4c1.45 0 3-1.69 3-3.5s-1.5-3.5-3-3.5z"></path></svg></a>项目发布及浏览说明</h2>

        <p>采用服务器端包含模块功能进行模块嵌套，需服务器端配置ServerSideIncludeModule为html扩展
          不可直接双击页面文件浏览，需要在服务器环境下进行浏览，以dist为网站根目录</p>

        <h2><a id="user-content-源码使用方法" class="anchor" href="#源码使用方法" aria-hidden="true"><svg aria-hidden="true" class="octicon octicon-link" height="16" role="img" version="1.1" viewBox="0 0 16 16" width="16"><path d="M4 9h1v1h-1c-1.5 0-3-1.69-3-3.5s1.55-3.5 3-3.5h4c1.45 0 3 1.69 3 3.5 0 1.41-0.91 2.72-2 3.25v-1.16c0.58-0.45 1-1.27 1-2.09 0-1.28-1.02-2.5-2-2.5H4c-0.98 0-2 1.22-2 2.5s1 2.5 2 2.5z m9-3h-1v1h1c1 0 2 1.22 2 2.5s-1.02 2.5-2 2.5H9c-0.98 0-2-1.22-2-2.5 0-0.83 0.42-1.64 1-2.09v-1.16c-1.09 0.53-2 1.84-2 3.25 0 1.81 1.55 3.5 3 3.5h4c1.45 0 3-1.69 3-3.5s-1.5-3.5-3-3.5z"></path></svg></a>源码使用方法</h2>

        <ol>
          <li>安装配置环境： <code>node.js</code> 和 <code>grunt</code></li>
          <li>在命令行环境下，在项目根目录输入命令： <code>npm install</code>，安装项目依赖 node modules</li>
          <li>进入Gruntfile.js所在目录下，编译所有文件，输入 <code>grunt</code></li>
          <li>开发时，实时监测 src 目录文件(CSS &amp; JS &amp; HTML)改动，并实时编译，输入 <code>grunt watch:components</code></li>
          <li>开发时，实时监测仅脚本及样式(CSS &amp; JS)改动，并实时编译，输入 <code>grunt watch:assets</code></li>
        </ol>
      </article>
    </div>

  </div>
</div>

<!--#include file="/dist/components/footer.html" -->

<!--#include file="/dist/components/script-basic.html" -->
<!--#include file="/dist/components/script-custom.html" -->
</body>
</html>
