<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
  <!--#include file="/dist/components/meta.html" -->
  <title>easy-boilerplate</title>
  <!--#include file="/dist/components/style-common.html" -->
</head>
<body>
<!--#include file="/dist/components/header.html" -->

<div class="site-content">
  <div class="mwrap">
    content
  </div>
</div>

<!--#include file="/dist/components/footer.html" -->

<!--#include file="/dist/components/script-basic.html" -->
<!--#include file="/dist/components/script-custom.html" -->
</body>
</html>
